@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(46, 46, 45, 0.207);
    backdrop-filter: blur(6px);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 10000;
}

.modal-overlay.active {
    display: flex;
}

.modal-box {
    position: relative;
    z-index: 10001; /* 🔥 NAIKKAN DI ATAS OVERLAY */

    width: 380px;
    background: #FAF1D6;
    border-radius: 24px;
    padding: 32px;

    box-shadow: 0 40px 80px rgba(0,0,0,0.3);
    text-align: center;
}


.modal-box input::placeholder {
    color: #aaa;
    transition: opacity 0.3s ease;
}

.modal-box input:focus::placeholder {
    opacity: 0;
}
.judul h3{
color:#000;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.btn-google {
    margin-top: 24px;
    width: 100%;
    padding: 12px;

    background: transparent;
    border: 1px solid #2F3E36;
    color: #2F3E36;

    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;

    transition: background 0.3s ease;
}

.btn-google:hover {
    background: rgba(47, 62, 54, 0.08);
}


.divider {
    margin: 16px 0;
    color: #888;
}

.modal-box input {
    width: 100%;
    box-sizing: border-box; /* INI KUNCI */

    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

.password-field input {
    position: relative;
     padding-right: 42px;
}

#togglePassword {
    position: absolute;
    right: 14px;
    top: 12px;
    cursor: pointer;
}
.forgot-password {
    text-align: right;
    margin-top: -6px;
    margin-bottom: 12px;
}

.forgot-password a {
    font-size: 13px;
    color: #937B57;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 7px 35px;
    background: #D2C09A;
    color: #FAF1D6;
    border-radius: 10px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    pointer-events: auto;
    position: relative;
    z-index: 10001;
}

